body {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

select {
    margin: 30px;
    width: 200px;
}

/* button {
    width: 70px;
    height: 70px;
} */

div {
    padding: 20px;
    margin: 20px;
}

h1{
    
}
